.service {
    grid-column: col-start 1 / col-end;
    text-align: center;

    &__container {
        font-size: 1.6rem;
        color: $light-grey;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;
        
    }

    &__content {
        background-color: $light-blue;
        padding: 2rem;
        border-radius: .2rem;
        box-shadow: 0 .2rem .5rem rgba(0,0,0, .3);

        &--heading {
            color: $secondary-color;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 650;
        }

        &--no {
            color: $primary-color;
            border: .1rem solid $secondary-color;
            display: inline-block;
            padding: 1rem 2rem;
            border-radius: 50%;
            margin-bottom: 2rem;
            
        }
    }
    
}