.margin-bottom {
  margin-bottom: 10rem; }

.section-heading {
  color: #66fcf1;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 2rem; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  line-height: 1.6;
  background-color: #0b0c10;
  color: #fff; }

.container {
  display: grid;
  grid-template-columns: [full-start] 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr 5rem [full-end]; }

.header {
  background-image: radial-gradient(rgba(0, 0, 0, 0.918), rgba(0, 0, 0, 0.76)), url(../images/kettlebell-3293475_1280.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-size: 1.6rem;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 5rem [full-start] 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 1fr [full-end] 5rem;
  position: relative; }

.nav {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #fff; }
  .nav__logo {
    width: 100%;
    height: 100%; }
    .nav__logo--box {
      width: 5rem;
      height: 3rem; }
  .nav__item {
    display: flex;
    justify-content: space-between;
    width: 70rem;
    list-style: none;
    text-transform: capitalize;
    margin-top: .5rem; }
  .nav__link {
    text-decoration: none;
    color: #fff;
    font-weight: 650; }
    .nav__link:hover {
      color: #66fcf1; }

.text-box {
  grid-column: col-start 1  / col-end;
  height: 20rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: -5rem; }

.textbox {
  font-size: 4rem; }
  .textbox__span {
    display: block;
    color: #66fcf1;
    transform: translateY(2rem); }

.btn {
  font-size: 1.7rem;
  font-weight: 550;
  color: #45a29e;
  text-decoration: none;
  text-transform: capitalize;
  background-color: transparent;
  border: 0.1rem solid #66fcf1;
  padding: .5rem 3rem;
  border-radius: 2rem;
  display: inline-block;
  margin-top: 1rem; }
  .btn:hover {
    background-color: #45a29e;
    color: #fff; }

.social-media {
  grid-column: full-start / full-end;
  height: 10rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .social-media__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #45a29e; }
    .social-media__icon:hover {
      fill: #66fcf1; }

.about {
  grid-column: col-start 1 / col-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 5rem;
  align-items: center; }
  .about__text {
    font-size: 1.7rem;
    color: #c5c6c7; }
  .about__image {
    height: 40rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: .2rem; }
  .about__img {
    width: 100%;
    height: 100%;
    border-radius: .2rem; }

.service {
  grid-column: col-start 1 / col-end;
  text-align: center; }
  .service__container {
    font-size: 1.6rem;
    color: #c5c6c7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem; }
  .service__content {
    background-color: #1f2833;
    padding: 2rem;
    border-radius: .2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3); }
    .service__content--heading {
      color: #45a29e;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 650; }
    .service__content--no {
      color: #66fcf1;
      border: 0.1rem solid #45a29e;
      display: inline-block;
      padding: 1rem 2rem;
      border-radius: 50%;
      margin-bottom: 2rem; }

.faq {
  grid-column: col-start 1 / col-end; }
  .faq__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 5rem;
    align-items: center; }
  .faq__heading {
    text-align: center;
    margin-bottom: 2rem; }
  .faq__img {
    width: 100%;
    height: 100%; }

.question {
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  color: #45a29e;
  margin-bottom: 1rem; }

.answer {
  font-size: 1.6rem;
  color: #c5c6c7;
  margin: 1rem; }

details[open] summary ~ * {
  animation: sweep .5s ease-in-out; }

@keyframes sweep {
  from {
    opacity: 0;
    margin-top: -3rem; }
  to {
    opacity: 1;
    margin-top: 0; } }

.start-now {
  grid-column: col-start 1 / col-end;
  text-align: center; }
  .start-now__textbox {
    font-size: 1.7rem;
    color: #c5c6c7;
    text-align: center;
    max-width: 70rem;
    margin: 0 auto; }

.not-late {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 5rem;
  align-items: center; }
  .not-late__img {
    width: 100%;
    height: 100%;
    border-radius: .2rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4); }
  .not-late__info {
    font-size: 1.7rem;
    color: #c5c6c7; }

.subscription {
  grid-column: col-start 1 / col-end;
  text-align: center; }
  .subscription__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    text-align: center; }
  .subscription__info {
    font-size: 1.6rem;
    color: #c5c6c7;
    max-width: 60rem;
    margin: 0 auto; }
  .subscription__content {
    background-color: #1f2833;
    font-size: 1.6rem;
    padding: 3rem 1rem;
    margin-top: 5rem;
    border-radius: .2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.7);
    transition: all .5s ease-in-out; }
    .subscription__content:hover {
      transform: scale(1.1);
      background-color: #344355; }
  .subscription__name {
    color: #66fcf1;
    text-transform: uppercase; }
  .subscription__price {
    font-family: sans-serif;
    font-size: 5rem;
    font-weight: 300;
    color: #45a29e; }
  .subscription__sup {
    font-size: 3rem;
    margin: 4rem .1rem;
    font-weight: 200;
    color: #45a29e; }
  .subscription__items {
    list-style: none;
    color: #45a29e;
    text-transform: capitalize;
    margin-bottom: 3rem; }
  .subscription__list-item {
    color: #c5c6c7;
    margin-bottom: .2rem; }
  .subscription__btn-get-started {
    font-size: 1.6rem;
    color: #0b0c10;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #45a29e;
    padding: 1rem 1.5rem;
    border-radius: .2rem;
    transition: all .2s; }
    .subscription__btn-get-started:hover {
      background-color: #66fcf1; }

.plan {
  background-color: grey;
  grid-column: full-start / full-end; }

.contact {
  grid-column: col-start 1 / col-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 5rem;
  align-items: center; }
  .contact__text {
    font-size: 1.6rem;
    color: #45a29e;
    text-transform: capitalize;
    margin: 0 auto; }
  .contact__heading {
    color: #66fcf1;
    text-transform: uppercase;
    margin-bottom: 3rem; }
  .contact__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #45a29e;
    font-weight: 200; }
  .contact__row {
    display: flex;
    margin-bottom: 2rem; }
  .contact__text--info {
    transform: translateX(2rem); }
  .contact__media--icon {
    fill: #45a29e;
    height: 2.5rem;
    width: 2.5rem; }
  .contact__social--media {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }

.form {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem; }
  .form__text-input {
    font-family: sans-serif;
    font-size: 1.6rem;
    color: #c5c6c7;
    background-color: #1f2833;
    margin-bottom: 1rem;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: .2rem;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.7); }
  .form__text-area {
    font-family: sans-serif;
    font-size: 1.6rem;
    color: #c5c6c7;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: #1f2833;
    margin-bottom: 1rem; }

.submit {
  font-size: 1.6rem;
  width: 6rem;
  height: 3.5rem; }

.send-icon {
  fill: #45a29e;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #1f2833;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.7);
  cursor: pointer; }
  .send-icon:hover {
    fill: #66fcf1; }

.stories {
  grid-column: col-start 1 / col-end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.review {
  font-size: 1.6rem;
  background-color: #1f2833;
  max-width: 70rem;
  border-radius: .2rem;
  text-align: center;
  transform: translateY(-5rem); }
  .review__info {
    padding: 5rem;
    position: relative;
    overflow: hidden; }
  .review__heading {
    color: #66fcf1;
    margin: 1rem 0;
    text-transform: uppercase;
    font-weight: 550; }
  .review__text {
    color: #c5c6c7; }
  .review__name {
    font-size: 1.6rem;
    color: #45a29e;
    text-transform: capitalize;
    margin-top: 2rem; }
  .review__img-box {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 1rem solid #1f2833;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 99; }
  .review__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; }

.slide-icons {
  fill: #45a29e;
  width: 7rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(2rem); }

.btn-next {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all .2s; }
  .btn-next:hover {
    fill: #66fcf1; }

.btn-prev {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer; }
  .btn-prev:hover {
    fill: #66fcf1; }

.quote-icon {
  position: absolute;
  top: -5rem;
  left: -7rem;
  z-index: -5;
  opacity: .08; }

.footer {
  background-color: #1f2833;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 5rem 1fr repeat(8, [col-start] minmax(min-content, 14rem)) [col-end] 5rem 1fr;
  padding: 5rem 0; }
  .footer__content {
    grid-column: col-start 1 / col-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem;
    text-align: center;
    padding: 5rem 0;
    font-size: 1.6rem; }
  .footer__logo {
    grid-column: col-start / col-end;
    margin: 0 auto;
    width: 10rem;
    height: 5rem; }
    .footer__logo--img {
      width: 100%;
      height: 100%; }
  .footer__list {
    list-style: none; }
  .footer__links {
    text-decoration: none;
    color: #c5c6c7;
    text-transform: capitalize; }
    .footer__links:hover {
      color: #45a29e; }
  .footer__social--media {
    grid-column: col-start 1 / col-end;
    height: 4rem;
    width: 10rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; }

.copy-right {
  grid-column: col-start 1 / col-end;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #c5c6c7;
  opacity: .5;
  text-align: center;
  margin-top: 2rem; }
